/* GLOBAL STYLES */
html {
  box-shadow: 0 0 0 30px #000 inset;
  padding: 0 30px;
}
body{
  min-height:100vh;
}
h1, h2 {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  color: #fff;
}
h1{
  font-size: 7vw;
}
h2{
  font-size: 2vw;
}
p{
 font-size: 1vw ; 
 font-family: 'Open Sans', Arial, Helvetica, sans-serif
}

/* HEADER STYLES */
header{
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-bottom: 15px;
  position: fixed;
  z-index: 20;
}

.header_logo{
  box-sizing: border-box;
  display: inline; 
  position: relative;
  left: -30px;
  text-align: left;
  padding: 15px;
}
.fa-lightbulb{
  color: #F7CA18;
}
.header_nav{
  float: right;
  padding: 4vh 80px 0 0;
}
.header_nav > li{
  display: inline;
  margin-left: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}
.header_nav > li a{
  text-decoration: none;
  color: #fff;
}
/* FOOTER STYLES */

footer{
  background-color: orange ;
  border-top: 1px solid #fff;
  color: #fff;
  width: 100%;
  padding-bottom: 15px;
  position: relative;
  z-index: 20;
}

.footer_logo{
  box-sizing: border-box;
  display: inline; 
  position: relative;
  text-align: center;
  padding: 15px 0 0px 5px;
}
.footer_nav{
  padding: 4vh 80px 0 0;
}
.footer_nav > li{
  display: inline-block;
  margin-left: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}
.footer_nav > li a{
  text-decoration: none;
  color: #fff;
}
/* HERO STYLES */
.full_hero{
  background-size: cover;
  box-sizing: border-box;
  height: 90vh;
}
.full_hero::after{
  bottom:2vh;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.hero_home{
  background-image: url(/practice_form_page/images/idea_hero.jpg); 
  background-position: center top;
}
.hero_content{
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 45%;
  left: -10%;
 }
.submit_button{
  background-color: #F7CA18;
  border-radius: 99px;
  color: #fff ;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}  

/* ABOUT IDEAS */
.about{
  background-color: #000;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 35vh;
}
.about_title{
  flex: 1 1 0;
  text-align: center;
  text-transform: uppercase;
}
.about_content{
  flex: 0 0 45em;
}
.about_content a{
  color: #F7CA18;
  text-decoration: none;
}

/* FORM STYLES */
.form_container{
  height: 90vh;
} 
.form_header h2{
  color:#000;
  padding: 80px 0 5px 10px;
  position: relative;
}
.form_content{
  padding: 10px 5px 5px 10px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
input[type=text] {
  width: 25%;
  padding: 5px 0 0 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[name=idea] {
  width: 25%;
  padding: 5px 0 0 10px;
  margin: 8px 0;
  height: 20vh;
  box-sizing: border-box;
}

input[type=email] {
  width: 25%;
  padding: 5px 0 0 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
button[type=submit] {
  width: 25%;
  padding: 5px 0 0 10px;
  margin: 8px 0;
}



/* MOBILE STYLES */
    @media (max-width: 800px) {
/* GLOBAL STYLES   */
    html{
      box-shadow: none;
      padding: 0;
    }
    body{
      height: 100vh;
      width: 100vw;
    }
    h1{
      font-size: 5vw;
    }
    h2{
      font-size: 4vw;
    }
    p{
     font-size: 2.5vw ; 
     font-family: 'Open Sans', Arial, Helvetica, sans-serif
    }
/* HERO STYLES */
    .hero_home{
      height: 35vh;
    } 
   .full_hero{
      background-size: 100vw auto;
      background-repeat: no-repeat;
    }
    .hero_content{
      top: 85%;
      left: -25%;
    }
    .submit_button{
      font-size: 0.8em;
      padding: 3.5px;
    }
/*HEADER STYLES */
    .header_nav{
      overflow: hidden;
      padding: 4vh 20px 0 0;
    }
    .header_nav > li{
      font-size: 3vw;
    }
/* FOOTER STYLES     */
    .footer_nav{
      overflow: hidden;
      padding: 4vh 20px 0 0;
    }
    .footer_nav > li{
      font-size: 3vw;
    }
/* ABOUT STYLES */
    .about_content{
      flex: 1;
    }
/* FORMS       */
    input[type=text] {
      width: auto;
    }
    input[type=email] {
      width: auto;
    }
    button[type=submit] {
      width: auto;
    }

};

  
