/* GLOBAL STYLES */
body{
  background-color: #265765;
}

/* HEADER STYLES */
header{
  background-color: #040d38;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.header_logo{
  background-color:#040d38; 
  box-sizing: border-box;
  display: block; 
  position: relative;
  left: 5px;
  padding-top: 5px;
  width: 10vh;
}
.header_logo img{
  border: 1px solid #fff;
  height: 9vh;
  width: auto;
}
.header_nav{
  float: right;
  padding: 3.5vh 5px 0 0;
}
.header_nav > li{
  display: inline;
  margin-left: 1em;
}
.nav_links{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO STYLES */
